#dashboard {
    background: rgb(196, 187, 240);
    background: radial-gradient(
        circle,
        rgba(196, 187, 240, 1) 20%,
        rgba(146, 127, 191, 1) 40%,
        rgba(79, 59, 120, 1) 60%,
        rgba(54, 59, 78, 1) 80%
    );
    .my-mt {
        margin-top: -70px;
        margin-bottom: -70px;
    }
}
#posts {
    height: 92.2vh;
    color: white;
    background: rgb(196, 187, 240);
    background: radial-gradient(
        circle,
        rgba(196, 187, 240, 1) 20%,
        rgba(146, 127, 191, 1) 40%,
        rgba(79, 59, 120, 1) 60%,
        rgba(54, 59, 78, 1) 80%
    );
    .my-mt {
        margin-top: -70px;
        margin-bottom: - 70px;

    }
    table {
        background-color: rgba(79, 59, 120, 0.397);
        td {
            color: white;
            a{
                color: #c4bbf0;
                text-decoration: none;
                font-size: 400;
            }
            a:hover{
                color: white;
            }
        }
        th {
            color: white;
        }
    }
}
#category{
    height: 92.2vh;
    color: white;
    background: rgb(196, 187, 240);
    background: radial-gradient(
        circle,
        rgba(196, 187, 240, 1) 20%,
        rgba(146, 127, 191, 1) 40%,
        rgba(79, 59, 120, 1) 60%,
        rgba(54, 59, 78, 1) 80%
    );
    .my-mt {
        margin-top: -70px;
        margin-bottom: - 70px;

    }
    table {
        background-color: rgba(79, 59, 120, 0.397);
        td {
            color: white;
            a{
                color: #c4bbf0;
                text-decoration: none;
                font-size: 400;
            }
            a:hover{
                color: white;
            }
        }
        th {
            color: white;
        }
    }
}

#technology{
    height: 92.2vh;
    color: white;
    background: rgb(196, 187, 240);
    background: radial-gradient(
        circle,
        rgba(196, 187, 240, 1) 20%,
        rgba(146, 127, 191, 1) 40%,
        rgba(79, 59, 120, 1) 60%,
        rgba(54, 59, 78, 1) 80%
    );
    .my-mt {
        margin-top: -70px;
        margin-bottom: - 70px;

    }
    table {
        background-color: rgba(79, 59, 120, 0.397);
        td {
            color: white;
            a{
                color: #c4bbf0;
                text-decoration: none;
                font-size: 400;
            }
            a:hover{
                color: white;
            }
        }
        th {
            color: white;
        }
    }
}
